extends ../layouts/home

block content
  .container
    h2 practice
    p

    section
      h3.box(data-toggle="collapse", data-target=".cards") Where to start?
      .cards.collapse
        each card in cards
          .card
            .front.side(class=card.bg.front)
            .back.side(class=card.bg.back)
              div
                div
                  span=card.text

    section
      h3.box(data-toggle="collapse", data-target=".inspiration") Some visual inspiration
      .inspiration.collapse
        #carousel.carousel.slide(data-ride='carousel')
          // Indicators 
          ol.carousel-indicators
            each image, i in images
              li(class=i == 0 ? "active" : "", data-target='#carousel', data-slide-to=i)
          // Wrapper for slides 
          .carousel-inner
            each image, i in images
              .item(class=i == 0 ? "active" : "")
                img(src="/images/inspiration/" + image.src.filename)
                .carousel-caption=image.caption
          // Controls 
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right


    section
      h3.box(data-toggle="collapse", data-target=".tryme") Something to try
      .tryme.collapse.in
        .shapes
          .col-xs-4
            a.octahedron(href="#octahedron")
          .col-xs-4
            a.cylinder(href="#cylinder")
          .col-xs-4
            a.torus(href="#torus")
      #octahedron.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-1.png")
      #cylinder.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-3.png")
      #torus.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-2.png")


block js
  script(src='/js/lib/three.min.js')
  script(src='/js/practice.js')