extends ../layouts/home

block content
  .container
    h2 practice
    p

    section
      h3.box(data-toggle="collapse", data-target=".cards") Where to start?
      .cards.collapse
        each card in cards
          .card
            .front.side(class=card.bg.front)
            .back.side(class=card.bg.back)
              div
                div
                  span=card.text

    section
      h3.box(data-toggle="collapse", data-target=".inspiration") Some visual inspiration
      //h3.box(style="opacity:0.5") Some visual inspiration
      .inspiration.collapse
        #carousel.carousel.slide(data-ride='carousel')
          // Indicators 
          ol.carousel-indicators
            each image, i in images
              li(class=i == 0 ? "active" : "", data-target='#carousel', data-slide-to=i)
          // Wrapper for slides 
          .carousel-inner
            each image, i in images
              .item(class=i == 0 ? "active" : "")
                img(src="/images/inspiration/" + image.src.filename)
                .carousel-caption=image.caption
          // Controls 
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right


    section
      h3.box(data-toggle="collapse", data-target=".tryme") Something to try
      //h3.box(style="opacity:0.5") Something to try
      .tryme.collapse.in
        p Micro Experiences are for exploring.You can do them alone, you can do them with a partner(s), and you can do them with friends. You might want to take a tentative step or to leap in to experimenting straight away. We have themed them around 5 areas:
        ol
          li Connection - experiences that build connection
          li Awareness - experiences that create more awareness (of one another, or space, or time etc)
          li Understanding - experiences that open up more understanding of yourself or of one another, and of your emotional responses.
          li Revealing - experiences that go deeper or reveal more, or reveal something new or different.
          li Building - these experiences are to extend and develop our understanding of relationships with others. and with ourselves.
        .shapes
          h4 &nbsp;
          div.scene
            a(href="#connection-0")
            a(href="#connection-1")
            a(href="#connection-2")
            a(href="#connection-3")
            a(href="#awareness-0")
            a(href="#awareness-1")
            a(href="#building-0")
            a(href="#building-1")
            a(href="#building-2")
            a(href="#understanding-0")
            a(href="#understanding-1")
            a(href="#understanding-2")
            a(href="#revealing-0")
            a(href="#revealing-1")
            a(href="#revealing-2")
            a(href="#revealing-3")
            a(href="#revealing-4")
      #octahedron.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-1.png")
      #cylinder.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-3.png")
      #torus.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-2.png")


block js
  script(src='/js/lib/three.min.js')
  script(src='/js/practice.js')