extends ../layouts/home

block content
  .container
    h2 practice
    p

    section
      h3.box(data-toggle="collapse", data-target=".cards") Where to start?
      .cards.collapse
        each card in cards
          .card
            .front.side
            .back.side=card.text
      .fullscreen
        a.close X
        .card
        p.note Click for a new card

    section
      h3.box(data-toggle="collapse", data-target=".inspiration") Some visual inspiration
      .inspiration.collapse
        #carousel.carousel.slide(data-ride='carousel')
          // Indicators 
          ol.carousel-indicators
            each image, i in images
              li(class=i == 0 ? "active" : "", data-target='#carousel', data-slide-to=i)
          // Wrapper for slides 
          .carousel-inner
            each image, i in images
              .item(class=i == 0 ? "active" : "")
                img(src="/images/inspiration/" + image.src.filename)
                .carousel-caption=image.caption
          // Controls 
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right


    section
      h3.box(data-toggle="collapse", data-target=".tryme") Something to try
      .tryme.collapse


block js
  script(src='/js/practice.js')