extends ../layouts/home

block content
  .container
    h2 practice
    p

    section
      h3.box(data-toggle="collapse", data-target=".cards") Where to start?
      .cards.collapse
        each card in cards
          .card
            .front.side(class=card.bg.front)
            .back.side(class=card.bg.back)
              div
                div
                  span=card.text

    section
      //h3.box(data-toggle="collapse", data-target=".inspiration") Some visual inspiration
      h3.box.disabled Some visual inspiration
      .inspiration.collapse
        #carousel.carousel.slide(data-ride='carousel')
          // Indicators 
          ol.carousel-indicators
            each image, i in images
              li(class=i == 0 ? "active" : "", data-target='#carousel', data-slide-to=i)
          // Wrapper for slides 
          .carousel-inner
            each image, i in images
              .item(class=i == 0 ? "active" : "")
                img(src="/images/inspiration/" + image.src.filename)
                .carousel-caption=image.caption
          // Controls 
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right


    section
      h3.box(data-toggle="collapse", data-target=".tryme") Something to try
      //h3.box(style="opacity:0.5") Something to try
      .tryme
        h2 Micro Experiences
        p Micro Experiences are for exploring.You can do them alone, you can do them with a partner(s), and you can do them with friends. You might want to take a tentative step or to leap in to experimenting straight away. We have themed them around 5 areas:
        .micro-experiences-legend
          .row
            .col-sm-3
              .key.connection Experiences that build connection
            .col-sm-3.col-sm-offset-1
              .key.awareness Experiences that create more awareness (of one another, or space, or time etc)
            .col-sm-4.col-sm-offset-1
              .key.understanding Experiences that open up more understanding of yourself or of one another, and of your emotional responses.

          .row
            .col-sm-3.col-sm-offset-2
              .key.revealing Experiences that go deeper or reveal more, or reveal something new or different.
            .col-sm-4.col-sm-offset-1
              .key.building These experiences are to extend and develop our understanding of relationships with others. and with ourselves.

        .shapes
          h4 &nbsp;
          div.scene
      #connection-0.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Connection
            p At an arranged time send an image of a object or place that you associate with your relationship to your partner, who then replies guessing/telling you why that objet or place is of signficance.
            p Take it in turns on alternate days to send and respond to the image.
      #connection-1.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Connection
            p What objects would need to be present to recreate the setting where you last felt emotionally connected to your partner?
            p Draw or collect the objects or items to show to your partner and talk about the meaning behind them.
      #connection-2.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Connection
            p How do you feel when you want your partners focus but they are distracted? How would you show that you need them to be present? Can you express how you would get their attention with out using words?
      #connection-3.fullscreen
          a.close X
          .content
            div.col-sm-5.lhs
            div.col-sm-7.rhs
              h3 Connection
              p What do you most appreciate that your partner gives in your relationship? Write down your answers on a piece of paper and swap and read them aloud to one another.
              p Is there anything you feel you need from your partner that they are not giving you?
              p Do the excercise again.
      #awareness-0.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Connection
            p Is there a safe space in which you are able and comfortable to discuss anxieties around your intimate and erotic desires? [with someone else]
            p Imagine this space. Can you write down or draw the object or features of this space which make it safe for you?
            p Are ther par ticular sounds, smells, people or objects present? Would it be possible to recreate this space?
      #awareness-1.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Awareness
            p Rate these statments in order of importance, 1 being the most important and 5 being the least important.
            ul
              li Sex has to be part of a loving relationship to be great.
              li Intimacy has to be part of a loving relationship to be great.
              li Trust has to be part of a loving relationship to be great. Communication has to be part of a loving relationship to be great. Desire has to be part of a loving relationship to be great.
      #building-0.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Building
            p Complete the following sentences by saying them outloud alone or with another person.
            ul
              li What scares me about sex is...
              li What scares me about intimicy is..
              li What scares me about touch is...
              li What scares me about something new is...
              li What scares me about vunerability is...
              li What scares me about trust is...
      #building-1.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Building
            p If there were no repercussions, whilst in a relationship would you
            ol
              li Develop intimacy with others
              li Engage in casual sex
              li Pursue another relationship
              li Would you par take in group sex
              li Would you par take in a sexual role play that you dont feel able to do with your partner
      #building-2.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Building
            p What behaviours do you recognise in yourself that indicate that you might have a connetion with somone?
            p Imagine that they are sitting across from you, how does their presence effect the ways you are behaving?
            p If you were to make something to show them how you feel about them, what would this look like?
      #understanding-0.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Understanding
            p Are you good at empathising/listening/relating to people?
            p Sit with another person ( a friend, a partner, a family member) and share with them a personal experiance that has not been revealed before. Through any choice of medium, the listener recreates the experience which they then present to the story teller and talk through the reasoning behind it.
      #understanding-1.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Understanding
            p How do each of the images of below make you feel?
            p How do each of the images make you feel if you found your partner looking at
      #understanding-2.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Understanding
            p What objects or textures do you most associate with intimicy and erotica?
            p Could you explain it to another person? The texture, smell or the actual object? Why do you associate them with intimacy or erotica?
            p Does the association come from a past experiance or is it a fantasy you would like to fulfil?
      #revealing-0.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Revealing
            p Identify the diffences in your behaviour in a intimate relationship and the relationships between you and a family member or friend.
            p Using this template and a different colour for each relationship draw a circle where you think best dipicts the relationship with that person.
            img.img-responsive(src="images/graph-revealing-0.gif")
      #revealing-1.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Revealing
            p What are you not doing in your relationships now that you wish you were doing? What is preventing you from doing these things or behaving that way?
            p With your parners(s) write down up to three examples each, at the same time and then swap them.
      #revealing-2.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Revealing
            p What do you share (or what have you in the past in other relationships) with a partner(s) which you feel is especially important and that you don’t share with anyone else?
            p Is it an object, activity or memory?
            p Is there anything you wish you were sharing?
      #revealing-3.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Revealing
            p What behaviours do you see in other peoples relationships that you wish you could practice in your own?
            p What is stopping you? Try having a conversation around it with your partner about how you feel and discuss how you could introduce it into your relationship.
      #revealing-4.fullscreen
        a.close X
        .content
          div.col-sm-5.lhs
          div.col-sm-7.rhs
            h3 Revealing
            p Sit facing your partner and complete the following sentences on a piece of paper. Keep answers private until you are both ready to swap and reveal.
            ul
              li I find it hard to talk about...
              li I appreciate when...
              li I feel vunerable when...
              li I find you desirable when...
              li I feel most connected to you when...
              li I wish you wouldn't...
            p Read aloud each others answers. How do your partners answers make you feel?
      #mask


block js
  script(src='/js/lib/three.min.js')
  script(src='/js/practice.js')