extends ../layouts/home

block content
  .container
    h2 practice
    p

    section
      h3.box(data-toggle="collapse", data-target=".cards") Where to start?
      .cards.collapse
        each card in cards
          .card
            .front.side(class=card.bg.front)
            .back.side(class=card.bg.back)
              div
                div
                  span=card.text

    section
      h3.box(data-toggle="collapse", data-target=".inspiration") Some visual inspiration
      .inspiration.collapse
        #carousel.carousel.slide(data-ride='carousel')
          // Indicators 
          ol.carousel-indicators
            each image, i in images
              li(class=i == 0 ? "active" : "", data-target='#carousel', data-slide-to=i)
          // Wrapper for slides 
          .carousel-inner
            each image, i in images
              .item(class=i == 0 ? "active" : "")
                img(src="/images/inspiration/" + image.src.filename)
                .carousel-caption=image.caption
          // Controls 
          a.left.carousel-control(href='#carousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#carousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right


    section
      h3.box(data-toggle="collapse", data-target=".tryme") Something to try
      .tryme.collapse.in
        p Micro Experiences are for exploring.You can do them alone, you can do them with a partner(s), and you can do them with friends. You might want to take a tentative step or to leap in to experimenting straight away. We have themed them around 5 areas:
        ol
          li Connection - experiences that build connection
          li Awareness - experiences that create more awareness (of one another, or space, or time etc)
          li Understanding - experiences that open up more understanding of yourself or of one another, and of your emotional responses.
          li Revealing - experiences that go deeper or reveal more, or reveal something new or different.
          li Building - these experiences are to extend and develop our understanding of relationships with others. and with ourselves.
        .shapes
          div.scene
            map#imgmap201472595634(name='imgmap201472595634')
              area(shape='poly', alt='', title='', coords='62,16,74,0,233,14,271,95,198,112,77,116,37,95,37,95,37,95', href='', target='')
              area(shape='poly', alt='', title='', coords='34,144,102,132,256,112,294,196,344,326,266,386,128,374,50,254', href='', target='')
              area(shape='poly', alt='', title='', coords='400,198,280,108,304,14,360,0,542,6,550,56,494,130', href='', target='')
              area(shape='poly', alt='', title='', coords='444,336,370,212,448,188,478,146,554,120,592,186,654,256,630,356', href='', target='')
              area(shape='poly', alt='', title='', coords='788,324,688,290,600,176,544,82,586,26,648,-2,798,16,844,294', href='', target='')
      #octahedron.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-1.png")
      #cylinder.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-3.png")
      #torus.fullscreen
        a.close X
        .content
          img.img-responsive(src="/images/bg-micro-experience-2.png")


block js
  script(src='/js/lib/three.min.js')
  script(src='/js/practice.js')